/*includes padding/border in element's width/height*/
* {
    box-sizing: border-box;
}

/*removes default margin*/
body {
    margin: 0;
    background-color: #009688;
    overflow-x: hidden !important;
}

/*removes underlines*/
a {
    text-decoration: none;
    color: #212121;
    font-weight: 400;
}

/*nav bar*/
.name, .job-title {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
}

.name-title {
    margin: 2rem 2rem ;
}

a:visited {
    color: #000;
}

.bx-download, #github, .bxl-linkedin {
    color: #000;
    font-size: 2rem;
    padding-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #B2DFDB;
}

.nav-icons {
    margin: 2.8rem 2rem;
}

@media screen and (max-width: 554px) {
    body {
        overflow-x: hidden !important;
    }

    nav {
       height: 24vh;
    }

    .name-title {
        width: 9rem;
        height: 6rem;
        margin-top: 1.5rem;
        /*background-color: cyan;*/
    }

    .nav-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2rem;
        height: 7.3rem;
        /*background-color: orange;*/
    }

    .bx-download, #github, .bxl-linkedin {
        padding: 0 0 0.4rem;
        font-size: 1.6rem;
    }
}

/*about me*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /*background-color: green;*/
}

.about-me p, ul {
    width: 54vw;
    color: #FFF;
    font-size: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /*background-color: blue;*/
}

.about-me a {
    color: #212121;
}

@media screen and (max-width: 689px) {

    body {
        overflow-x: hidden !important;
    }

    .about-me p, ul {
        width: 90vw;
    }
}

@media screen and (min-width: 690px) and (max-width: 770px) {
    .about-me p, ul {
        width: 76vw;
    }
}

@media screen and (min-width: 771px) and (max-width: 950px) {
    .about-me p, ul {
        width: 70vw;
    }
}

@media screen and (min-width: 951px) and (max-width: 1068px) {
    .about-me p, ul {
        width: 66vw;
    }
}

@media screen and (min-width: 1069px) and (max-width: 1250px) {
    .about-me p, ul {
        width: 60vw;
    }
}

/*projects*/
/*.projects {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin-bottom: 3rem;*/
/*    !*background-color: #B3E5FC;*!*/
/*}*/

/*.project {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 54vw;*/
/*    padding-bottom: 0.4rem;*/
/*    color: #FFF;*/
/*    !*background-color: #607D8B;*!*/
/*}*/

/*.project h2 {*/
/*    font-size: 1.6rem;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-weight: 300;*/
/*    !*background-color: green;*!*/
/*}*/

/*.carousel {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    !*background-color: red;*!*/
/*}*/

/*.bx-chevron-left, .bx-chevron-right {*/
/*    font-size: 3rem;*/
/*    cursor: pointer;*/
/*}*/

/*.project-img {*/
/*    width: 36vw;*/
/*    border-radius: 5px;*/
/*    height: 41vh;*/
/*}*/

/*.project-links {*/
/*    display: flex;*/
/*    margin-top: 1rem;*/
/*    !*background-color: blue;*!*/
/*}*/

/*.bx-link-external, .github-repo {*/
/*    font-size: 1.6rem;*/
/*    margin: 0 1rem;*/
/*    color: #FFF;*/
/*}*/

/*span {*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-weight: 300;*/
/*    color: #FFF;*/
/*}*/

/*.project a {*/
/*    width: 2.8rem;*/
/*}*/

/*.project-description {*/
/*    width: 54vw;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-weight: 300;*/
/*    color: #FFF;*/
/*    margin: 0;*/
/*    padding: 1rem 0;*/
/*    !*background-color: orange;*!*/
/*}*/

/*@media screen and (max-width: 689px) {*/
/*    .project h2 {*/
/*        font-size: 1.4rem;*/
/*        text-align: center;*/
/*        width: 57vw;*/
/*    }*/

/*    .project-img {*/
/*        width: 60vw;*/
/*        height: 40vh;*/
/*        !*object-fit: xcontain;*!*/
/*        !*object-positixon: left;*!*/
/*    }*/

/*  .bx-chevron-left, .bx-chevron-right {*/
/*        !*font-size: 2rem;*!*/
/*        !*cursor: pointer;*!*/
/*        display: none;*/
/*    }*/

/*  .bx-link-external, .github-repo {*/
/*      font-size: 1.4rem;*/
/*    }*/

/*    .project-description {*/
/*        width: 60vw;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 690px) and (max-width: 770px) {*/
/*    .project-description {*/
/*        width: 76vw;*/
/*    }*/

/*     .project-img {*/
/*        width: 80vw;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 771px) and (max-width: 950px) {*/
/*    .project-description {*/
/*        width: 70vw;*/
/*    }*/

/*     .project-img {*/
/*        width: 80vw;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 951px) and (max-width: 1068px) {*/
/*    .project-description {*/
/*        width: 66vw;*/
/*    }*/

/*     .project-img {*/
/*        width: 80vw;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1069px) and (max-width: 1250px) {*/
/*    .project-description {*/
/*        width: 60vw;*/
/*    }*/

/*     .project-img {*/
/*        width: 80vw;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/



/*footer*/
footer {
    height: 8rem;
    display: flex;
    justify-content: center;
    background-color: #B2DFDB;
}

footer h3, footer i {
    margin-top: 3.4rem;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.bxs-envelope, .bxs-phone {
    font-size: 1.2rem;
    margin-left: 1.4rem;
    margin-right: 0.3rem;
}

.email {
    display: flex;
    /*background-color: orange;*/
}

.phone-no {
    display: flex;
    /*background-color: yellow;*/
}

@media screen and (max-width: 554px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer h3, footer i {
        margin: 0;
    }

    .email {
        width: 96vw;
        margin-top: 1rem;
    }

    .phone-no {
        width: 96vw;
    }

    .bxs-envelope, .bxs-phone {
        margin-left: 0.8rem;
    }
}