/*includes padding/border in element's width/height*/
* {
    box-sizing: border-box;
}

/*removes default margin*/
body {
    margin: 0;
    background-color: #009688;
}

/*removes underlines*/
a {
    text-decoration: none;
    color: #212121;
}

/*nav bar*/
.name, .job-title {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
}

.name-title {
    margin: 2rem;
}

a:visited {
    color: #000;
}

.bx-download, .bxl-github, .bxl-linkedin {
    color: #000;
    font-size: 2rem;
    padding-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #B2DFDB;
}

.nav-icons {
    margin: 2.8rem 2rem;
}

@media screen and (max-width: 554px) {
    nav {
       height: 24vh;
    }

    .home-btn {
        width: 9rem;
        height: 6rem;
        margin-top: 2rem;
        /*background-color: cyan;*/
    }

    .nav-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2rem;
        height: 8rem;
        /*background-color: orange;*/
    }

    .bx {
        padding: 0 0 0.4rem;
    }
}

/*about me*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    margin-top: 1rem;
    /*background-color: green;*/
}

.about-me p, ul {
    width: 54vw;
    color: #FFF;
    font-size: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /*background-color: blue;*/
}

.about-me a {
    color: #212121;
}

@media screen and (max-width: 689px) {
    .about-me p, ul {
        width: 80vw;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 690px) and (max-width: 770px) {
    .about-me p, ul {
        width: 76vw;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 771px) and (max-width: 950px) {
    .about-me p, ul {
        width: 70vw;
    }
}

@media screen and (min-width: 951px) and (max-width: 1068px) {
    .about-me p, ul {
        width: 66vw;
    }
}

@media screen and (min-width: 1069px) and (max-width: 1250px) {
    .about-me p, ul {
        width: 60vw;
    }
}

/*footer*/
footer {
    height: 8rem;
    display: flex;
    justify-content: center;
    background-color: #B2DFDB;
}

footer h3, footer i {
    margin-top: 3.4rem;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.bxs-envelope, .bxs-phone {
    font-size: 1.2rem;
    margin-left: 1.4rem;
    margin-right: 0.3rem;
}

.email {
    /*background-color: orange;*/
    display: flex;
}

.phone-no {
    /*background-color: yellow;*/
    display: flex;
}

@media screen and (max-width: 554px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer h3, footer i {
        margin: 0;
    }

    .email {
        margin-top: 1rem;
    }

    .phone-no {
        padding-right: 5.4rem;
    }
}