/*includes padding/border in element's width/height*/
* {
    box-sizing: border-box;
}

/*removes default margin*/
body {
    margin: 0;
    background-color: #009688;
}

/*removes underlines*/
a {
    text-decoration: none;
}

/*nav bar*/
.name, .job-title {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

.home-btn {
    margin: 2rem;
}

a:visited {
    color: #000;
}

.bx {
    color: #000;
    font-size: 2rem;
    padding-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFEB3B;
}

.nav-icons {
    margin: 2.8rem 2rem;
}

@media screen and (max-width: 554px) {
    nav {
       height: 20vh;
    }

    .home-btn {
        width: 9rem;
        height: 6rem;
        /*background-color: cyan;*/
        margin-top: 2rem;
    }

    .nav-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2rem;
        height: 8rem;
        /*background-color: orange;*/
    }

    .bx {
        padding: 0 0 0.4rem;
    }
}

/*about me*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: green;*/
    padding-bottom: 4rem;
}

.about-me p, ul {
    width: 54vw;
    /*background-color: orange;*/
    color: #FFF;
    font-size: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.about-me a {
    color: #212121;
}

@media screen and (max-width: 769px) {
    .about-me p, ul {
        width: 80vw;
        /*text-align: center;*/
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 770px) and (max-width: 999px) {
    .about-me p, ul {
        width: 70vw;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .about-me p, ul {
        width: 60vw;
        font-size: 0.9rem;
    }
}